body {
    position: absolute;
    width: 100vw;
}

form {
    margin: 0rem 1rem;
}

.center {
    text-align: center;
    width: 100%;
}

.btn {
    margin: 1rem 0 0 0;
}

.btn-secondary {
    color: white !important;
}

.progress {
    width: 100%;
    height: 1em;
    background: white;
    border: solid 0.1em black;
}

.filled {
    width: var(--fill);
    background: cornflowerblue;
}

.quiz {
    background: mediumslateblue;
}

.highlight {
    background: lightsteelblue;
    padding: 1em;
    margin-bottom: 1em;
}

.highlight::after {
    content: "x";
    position: relative;
    top: -0.3em;
    float: right;
    font-size: larger;
}

.navigation {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.navigation > div {
    padding: 1em 0;
    background-color: lightsteelblue;
    font-weight: bolder;
}

.exp {
    color: forestgreen;
}

.friendlist > div {
    background: lightsteelblue;
    margin: 1em;
    padding: 1em;
}

.tasks {
    display: None;
}

#username:after {
    content: "Online";
    color: forestgreen;
    font-size: small;
    position: relative;
    top: -1em;
    left: 0.25em;
    border: solid 0.05em forestgreen;
    border-radius: 0.5em;
    padding: 0em 0.25em;
}